[Uint]
Description="CryptoCam: Privacy Concious Open Circuit Television"

[Service]
User=pi
WorkingDirectory=/home/pi/CryptoCam
ExecStart=/bin/bash run
Restart=on-failure

[Install]
WantedBy=multi-user.target
